<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">Botanic - Garden Assistant</h2>
            <img src="assets/img/portfolio/portfolio-1.jpeg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Project URL</strong>: <a
                  href="https://onedrive.live.com/view.aspx?resid=8D742C3BC245F944!6460&ithint=file%2cpptx&authkey=!AP9JZYcanN3THik">https://onedrive.live.com/view.aspx?resid=8D742C3BC245F944!6460&ithint=file%2cpptx&authkey=!AP9JZYcanN3THik</a>
              </li>
            </ul>

            <p>
              As part of the product design course, the Botanic - Garden Assistant project was created together with the
              team.
            </p>
            <h3>Description:</h3>
            <p>
              Our mobile application is a garden assistant, which is aimed primarily at beginners who want to take care
              of a particular plant, but do not know where to start, and are not privy to the process of care and
              harvesting. In
              addition, our application will be a good tool for experienced gardeners and gardeners. The main value is
              that it helps
              in the care of plants by providing various information on sowing, fertilizing process, harvesting, the
              list of necessary
              seeds, thereby saving users time to search for such information. Unlike many competitors, the application
              solves the
              problem associated with the complexity of plant care, taking into account the weather conditions, climatic
              and
              geographical features of the selected area. The application will facilitate the process of care, because
              it will know
              whether it has rained in the area of your site or not, whether it has turned cold, and will tell you all
              this
              information! In addition, our assistant will select the best plants for your region based on all this
              information.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>