{% extends "index.html" %}
{% block login %}
<li><a href="{{url_for('logout')}}"><i class="bx bxl-vk"></i> <span>VK logout</span></a></li>

{% endblock %}
{% block questions %}
<div class="col-lg-8 mt-5 mt-lg-0">

    <!-- <form action="" method="post" role="form" class="php-email-form">
        <div class="form-group">
            <textarea readonly="readonly" class="form-control" name="message" rows="20"">
            {% for p in posts%}
            {{p.question}}
            {%endfor%}
            </textarea>
        </div>
    </form>
    <form action="" method="post" role="form" class="php-email-form">
        <div class="form-group">
            <textarea class="form-control" name="post" rows="5" data-rule="required"
                data-msg="Please write your question" placeholder="Message"></textarea>
        </div>
        <div class="text-center"><button type="submit">Send question</button></div>
    </form> -->
    <div id="vk_comments"></div>
    <script type="text/javascript">
        VK.Widgets.Comments('vk_comments');
    </script>
</div>

{% endblock %}